__pycache__/
.pytest_cache/
.venv/
*.py[cod]
.env
.env.*
!.env.example
.coverage

# Local Memory
myproject/
my_project/

# Local Database & Docker data
*.db
*.sqlite
*.sqlite3
*.sql
backups/
postgres_data/
pgdata/
